#wrapper{
    position: fixed;
    height: 100%;
    top:0;
    left:0;
    right:0;
}
.logo a h2{margin: -9px 0 0;}
.block {
    margin: -73px auto 0;
}
.block:after{
    display: block;
    content: '';
    clear: both;
}
#sidebar{
    height: 100vh;
    position: relative;
    background: #f6f6f6;
    border-radius: 0 18px 0 0;
}
#sidebar:after{
    content: '';
    display: block;
    clear: both;
}
.nav-tabs{border:none;}
.nav-tabs > li{
    float: none;
    display: block;
    border-top: 1px solid #ddd;
}
.nav-tabs > li:first-child{border: none;}
.nav-item{
    display: block;
    float: none;
    width: 100%;
    padding: 27px 35px 27px 40px;
    background-color: inherit;
    border: none;
    transition: all 0.3s;
    box-sizing: border-box;
}
.nav-item.active {
    border: none;
    width: 106%;
    margin-right:-6%;
    border-radius: 0 18px 18px 0;
    background-color: #fff;
    box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.09);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover{
    background: none !important;
    border-color: transparent !important;
    color: #000;
}
.nav-tabs>li>a{
    padding: 6px 51px 3px 0;
    font-size: 20px;
    line-height: 23px;

}
.nav-tabs>li>a h3{
    margin: 0;
    color: #000;
    text-align: right;
    letter-spacing: 0.3px;
}
.nav-link{
    line-height: 24px;
    padding: 2px 53px 0 0;
    position: relative;
}
.nav-link:before{
    width: 32px;
    height: 32px;
    content: "";
    position: absolute;
    top:0;
    right: 0;
    background: url("../images/ic_listing.png") no-repeat;
}
.nav-link.view:before{
    width: 32px;
    height: 26px;
    content: "";
    position: absolute;
    top:0;
    right: 0;
    background: url("../images/ic_rotate.png") no-repeat;
}
.nav-link.motorbike:before{
    width: 38px;
    height: 32px;
    content: "";
    position: absolute;
    top:0;
    right: 0;
    background: url("../images/motorbike-delivery.png") no-repeat;
    background-size: 100%;
}
.motorbike h3{
    position: relative;
}
.motorbike h3:after{
    width: 20px;
    height: 20px;
    content: '';
    display: none;
    position: absolute;
    top: 4px;
    left: 0;
    /*margin: 0 5px 0 0;*/
    background: #56EA48;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.nav-item.active .motorbike h3:after{display: block;}

.list{
    margin: 0;
    padding: 18px 54px 0 0;
    font-size: 16px;
    line-height: 19px;
}
.list-holder{display: none;}
.nav-item.active .list-holder{display: block;}
.list:after{
    display: block;
    content: '';
    clear: both;
}
.list li{
    width: 100%;
    margin: 0 0 2px;
    border-bottom: 1px solid #cacaca;
}
.list li a{
    padding: 21px 0 20px;
    height: 60px;
    display: block;
    position: relative;
}
/*.list li a:hover:after,*/
/*.list li a:hover{*/
    /*color: #2FD903;*/
/*}*/
.list li a:after{
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 25px;
    line-height: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -12px 0 0;
    z-index: 7;
}
.accordion li.active .opener:after{content: "\f107";}
.view-past{
    padding: 31px 35px;
    border-bottom: 1px solid #cacaca;
}
.btn-post{
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    vertical-align: middle;
    /*margin: 31px 35px;*/
    position: relative;
    padding: 2px 0 0 53px;
    width: 100%;

}
.btn-post:before{
    width: 32px;
    height: 26px;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background: url("../images/ic_rotate.png") no-repeat;
}
/*.btn-post:hover{*/
    /*color: #2FD903;*/
/*}*/
#contant{
    padding: 0 38px;
}
#contant:after{
    display: block;
    content: '';
    clear: both;
}
#panel43 h2{
    margin: 0 0 10px;
}
.box-frame{padding: 39px 0 0;}
.box-frame .rest-list{padding: 0;}
.rest-list{
    margin: 0;
    padding: 34px 0 0;
}
#panel42 .rest-list {
    padding: 68px 0 0;
}
.rest-list:after{
    display: block;
    content: '';
    clear: both;
}
.rest-list li{
    width: 100%;
    padding: 35px 0;
    border-top: 1px solid #cacaca;
}
.rest-list li:first-child{border: none;}
.rest-list.add-style > .last-row{border: none;}
.last-row {
    height: 281px;
    border: none;
}
.rest-list ul{
    margin: 0;
    display: table;
    width: 100%;
    overflow: inherit;
    letter-spacing: -7px;
}
.rest-list ul li {
    letter-spacing: 0;
    width: 15%;
    min-height: 88px;
    padding: 0 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: none;
    border-right: 1px dashed #cacaca;
}
.rest-list ul li:first-child{
    padding: 0 0 0 12px ;
    border: 0;
    width: 37%;
}
.rest-list ul li.third{width: 15%;}
.rest-list ul li:last-child{
    padding: 0 12px 0 0;
    width: 33%;
}
.rest-list ul li.last{
    width: 63%;
    padding: 0 21px 0 0;
}
.rest-list ul li.last.add{
    width: 60%;
}
.rest-list ul li.new-first{
    width: 40%;
}
.rest-list ul li p{margin: 0;}
.rest-list ul li p strong{display: block;}
.view-order:after{
    display: block;
    content: '';
    clear: both;
}
.view-order{
    border: 1px solid #E7E7E7;
    margin: 0 0 20px;
}
.view-order .rest-list ul li{
    width: 25% !important;
    padding: 0 35px;
    min-height: inherit;
}
.view-order .txt-box{
    text-align: right;
    position: relative;
}
.view-order .txt-box:after{
    display: block;
    content: '';
    clear: both;
}
/*.view-order .txt-box p{*/
    /*!*margin: 0;*!*/
    /*!*padding: 0 15px 0 0;*!*/
    /*!*min-width: 100px;*!*/
    /*!*white-space: nowrap;*!*/
    /*!*overflow: hidden !important;*!*/
    /*!*text-overflow: ellipsis;*!*/
/*}*/

.list-item.slide{
    position: relative;
}
.view-order .txt-box p .arrow .fa-angle-down{
    font-size: 20px;
    line-height: 25px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
}
.view-order .txt-box p .arrow{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 15px;
    cursor: pointer;
}

/*.view-order .txt-box p .arrow:after{*/
    /*display: none;*/
    /*content: '';*/
    /*position: absolute;*/
    /*top:50%;*/
    /*right:0;*/
    /*margin: -3px 0 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-style: solid;*/
    /*border-width: 7px 5px 0 5px;*/
    /*border-color: #878787 transparent transparent transparent;*/
/*}*/



.footer-box{
    padding: 20px 35px;
    background: #F5F5F5;
}
.footer-box .btn-link{
    float: left;
    color: #797979;
    font-size: 12px;
    line-height: 15px;
    text-decoration: underline;
    margin: 12px 0 0 38px;
    position: relative;
}
.cancle-order {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 350px;
    background: #fff;
    border: 1px solid #a7a7a7;
    padding: 20px 12px;
    text-align: center;
    color: #797979;
    z-index: 99;
    line-height: 17px;
    margin: 0 0 0 -175px;
}
.cancle-order:after, .cancle-order:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.cancle-order:after {
    border-color: rgba(243, 243, 243, 0);
    border-top-color: #fff;
    border-width: 16px;
    margin-left: -16px;
}
.cancle-order:before {
    border-color: rgba(167, 167, 167, 0);
    border-top-color: #a7a7a7;
    border-width: 17px;
    margin-left: -17px;
}

.btn-cancle{
    width: 150px;
    height: 40px;
    padding: 6px;
    border-radius: 6px;
    background-color: #ff7f00;
    text-transform: uppercase;
    outline:none;
    margin: 0 4px 15px;
    display: inline-block;
    vertical-align: middle;
    border:2px solid transparent;
}
.btn-cancle.hover{
    color: #ff7f00;
    background: #fff;
    border-color:#ff7f00;
}
.btn-cancle.hover p{color: #ff7f00;}
.btn-cancle p{
    font-size: 16px;
}
.footer-box .btn-link p{margin: 0;}
.footer-box .btn-order {
    width: 206px;
    height: 40px;
    padding: 10px 20px;
    background: #FF7F00;
    font-size: 16px;
    line-height: 19px;
    border-radius: 25px;
    text-align: center;
}
.footer-box .btn-order:hover{
    background: #fead5d;
}
.footer-box .btn-order img{
    margin: 0 0 0 10px;
    float: right;
}

.add-style .txt{
    margin: -13px 0 0;
}
.add-style .txt h1{margin: -6px 0 6px; font-weight: 300;}

.text.add{
    text-align: right;
    padding: 0;
}
.text.add p{margin: 0 0 7px;}
.text.add em{
    display: inline-block;
    vertical-align: middle;
}
.more-info{
    display: block;
    color: #6284eb;
    text-decoration: underline;
}
.more-info:hover{text-decoration: none;}


.img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    float: right;
    margin: -12px 0 0;
    border: 5px solid #dbdbdb;
}
.img-circle img {
    width: 100%;
    height: 100%;
    display: block;
}
.img-circle:before {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: -3px;
    z-index: 99;
    content: "";
    border: 2px solid white;
    border-radius: 50%;
    background: #5db200;
}
.offline .img-circle:before{background: #646464;}

.img-circle:after {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 15px solid #dbdbdb;
    transform: rotate(45deg);
    position: absolute;
    right: -1px;
    bottom: -2px;
    content: "";
    display: none;
}
.txt{
    overflow: hidden;
    padding: 0 37px 0 0 ;
    text-align: right;

}
.txt h1{
    margin: -4px 0 17px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}
.txt p{margin: 0;}
.txt p em{font-style: normal;}
.time{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin:13px 0 0;
}
.time p{
    position: relative;
    display: inline-block;
    vertical-align: top;
    /*padding: 0 15px 0 0;*/
    /*cursor: pointer;*/
}
/*.time span:hover:after,*/
/*.time span:hover{color: #2FD903;border-color: #2FD903 transparent transparent transparent;}*/
.time p:after{
    display: none;
    content: '';
    position: absolute;
    top:50%;
    right:0;
    margin: -3px 0 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #878787 transparent transparent transparent;
}
.address p{
    margin: 0;
    /*min-width: 100px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden !important;*/
    /*text-overflow: ellipsis;*/
}
.new-adress{
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.address{
    display: block;
    margin: 27px 0 0;
    cursor: default;
}
.text{
    overflow: hidden;
    padding: 0 15px 0 0;
}
.text em{
    font-style: normal;
    display: block;
}
.edit{
    width: 22px;
    height: 22px;
    display: block;
    margin: 10px auto 20px;
}
.edit.edit1{
    width: 17px;
    height: 20px;
}
.text{
    overflow: hidden;
    padding: 29px 0 0 0;
}
.time .bike{
    width: 35px;
    margin: 10px auto 20px;
    display: block;
}
.btn-box{
    overflow: hidden;
    background: linear-gradient(#fff, #ff7f00);
    -webkit-border-radius:13px;
    -moz-border-radius:13px;
    border-radius:13px;
    padding:2px;
    float: left;
    width: 140px;
    box-shadow: -3px -2px 12px 0 rgba(0, 0, 0, 0.2);
    margin: 4px 0 0;
}
.offline .btn-box{
    background: linear-gradient(#fff, #d1d1d1);
}
.offline .btn-box:hover{background: linear-gradient(246deg, #9c9c9c, #d1d1d1);}
.btn-box:hover{
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
    background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
}
.bt_ordernow{
    width:100%;
    display: block;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;

    position: relative;
    overflow: hidden;
    font-weight: 300;
}
/*.bt_ordernow:after{*/
    /*position: absolute;*/
    /*top: -4px; bottom: -4px;*/
    /*left: -4px; right: -4px;*/
    /*background: linear-gradient(#fff, #ff7f00);*/
    /*content: '';*/
    /*z-index: -1;*/
    /*border-radius: 16px;*/
/*}*/
.offline .bt_ordernow{
    background: linear-gradient(246deg, #9c9c9c, #d1d1d1);
}
/*.offline .bt_ordernow:hover{background-image: linear-gradient(246deg, #d1d1d1, #9c9c9c);}*/
.bt_ordernow em{
    font-style: normal;
    position: absolute;
    top: 6px;
    left:-16px;
    text-transform: none;

    width: 63px;
    height: 19px;
    transform: rotate(-42deg);
    font-size: 12px;
    line-height: 18px;
    background-color: #2fd903;
    border: solid 1px rgba(255, 255, 255, 0.64);
}

.text-massage{
    padding: 220px 40px 40px;
    text-align: center;
    font-size: 33px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.4px;
}
.text-massage p{
    margin: 0 0 20px;
    line-height: 40px !important;
}
.text-massage h2{
    margin: 0 0 5px;
    font-size: 33px;
    line-height: 36px;
    font-weight: 400;
}
.rest-list.add-style > li{
    border-top: none;
    border-bottom: 1px solid #cacaca;
}
.order{
    overflow: hidden;
    margin: 1px 0 12px;
}
.order .fa-check-circle{
    color: #37D30F;
}
.order .fa-times-circle{
    color: #D30F0F;
}
.order i{
    font-size: 20px;
    line-height: 20px;
    margin:0 0 0 4px;
}
.order i,
.order p{
    display: inline-block;
    vertical-align: middle;
}
.input-group{
    width: 100%;
    padding: 4px;
    border: 1px solid #000;
    background: #fff;
    border-radius:4px;
    position: relative;
}
.input-group-addon {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: inherit;
    border: none;
    border-radius: 0;
}
.input-group .form-control{
    border: none;
    padding: 2px 0 0 15px;
    height: 16px;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
}
.input-group .form-control:hover{background: none;}
.input-group:after{
    width: 20px;
    height: 19px;
    position: absolute;
    top: 4px;
    left: 3px;
    content: '';
    background: url("../images/icon_calender.png") no-repeat;
}
.list-item .form-group{
    margin: 0 0 0 5px;
}
.form-control:focus{box-shadow:none;}
.list-item .form-group p{margin: 0;}
.btn-arrow{
    background:none;
    padding: 0;
}
#parent-custom-last-week-filter .col-xs-2,
#parent-custom-last-week-filter .col-xs-5{
    float: left;
}
.btn-arrow:hover img{opacity: 0.7;}
/*.btn-arrow img{*/
    /*width: 18px;*/
    /*margin: 0 0 0 -2px;*/
/*}*/

.input-group.date .input-group-addon{
    z-index:99999;
}
/*.logo a h2 .comment span{*/
    /*text-decoration: none;*/
    /*font-size: 14px;*/
    /*line-height: 17px;*/
/*}*/



@media only screen and (max-width: 1599px){
    .txt {
        padding: 0 20px 0 0 !important;
    }
    .txt h1{
        letter-spacing: 0;
        font-size: 30px;
        line-height: 33px;
    }
    .rest-list ul li:first-child{
        width: 36%;
    }
    .rest-list ul li{width: 16%;}
    .rest-list ul li.third {
        width: 14%;
    }
    .rest-list ul li:last-child {
        padding: 0 12px 0 0;
        width: 34%;
    }
}
@media only screen and (max-width: 1399px){
    .txt h1 {
        font-size: 25px;
    }
    
}

.massage-txt{
    overflow: hidden;
    padding: 80px 78px;

}
.massage-txt h2{
    margin: 0;
}

.btn-print{
    width: 202px;
    height: 40px;
    padding:8px 16px;
    text-align: center;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(151, 151, 151, 0.33);
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 42px;
    position: absolute;
    top: 29px;
    color: #000;

}
.btn-print img{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 14px;
}