@font-face {
  font-family: 'SanFranciscoDisplay-Thin';
  src: url('SanFranciscoDisplay-Thin.woff') format('woff'),
       url('SanFranciscoDisplay-Thin.ttf') format('truetype'),
       url('SanFranciscoDisplay-Thin.svg#SanFranciscoDisplay-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

