@font-face {
  font-family: 'SanFranciscoText-Bold';
  src: url('SanFranciscoText-Bold.woff') format('woff'),
       url('SanFranciscoText-Bold.ttf') format('truetype'),
       url('SanFranciscoText-Bold.svg#SanFranciscoText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

