@font-face {
    font-family: 'HelveticaNeue';
    src: url('/en/fonts/helveticaneue/HelveticaNeue.woff') format('woff'),
    url('/en/fonts/helveticaneue/HelveticaNeue Thin.ttf') format('truetype'),
	url('/en/fonts/helveticaneue/HelveticaNeue Thin.eot') format('eot');
}
@font-face {
    font-family: 'Lobster';
    src: url('/en/fonts/lobster/Lobster.woff') format('woff'),
    url('/en/fonts/lobster/Lobster.ttf') format('truetype');
}
html,  body {
  height: 100%;
  overflow:hidden;
}
html {box-sizing: border-box;}
body {
	margin: 0;
	color: #fff;
	font: 15px/18px 'HelveticaNeue', Arial, sans-serif, Helvetica;
	min-width: 320px;
	/*background-image:url("../images/home-bg.png");
	background-size:cover;*/
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}


.blur-class {
	-webkit-filter: opacity(.2);
	filter: opacity(.2);
	pointer-events: none;
}

.loader-css{

	z-index:9999;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 30px;
	margin:auto;
	height: auto;
	display: none;
}


* {max-height: 1000000px;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}
img {
	border-style: none;
	height: auto;
}
a {
	text-decoration: none;
	color: #92278f;
	transition: all 1s;
}
a:hover, a:focus {
	text-decoration: none;
	outline: 0px auto -webkit-focus-ring-color !important;
	outline-offset: 0px !important;
}
input,
textarea,
select {
	font: Arial, Helvetica, sans-serif;
	color: #000;
	vertical-align: middle;
}
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	margin: 0;
	padding: 4px 7px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #ccc;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {border-color: black;}
textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}
input[type="checkbox"],
input[type="radio"] {padding: 0;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
p {margin: 0;}
q {quotes: none;}
q:before,
q:after {
	content: "";
	content: none;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {top: -.5em;}
sub {bottom: -.25em;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    padding: 0;
    background: none;
    border: none;
    margin: 0;
}
/*.dropdown-menu::-webkit-scrollbar {*/
    /*width: 0;*/
	/*background:inherit;*/
/*}*/

/*.dropdown-menu::-webkit-scrollbar-track {*/
    /*display: none;*/
	/*background:inherit;*/
/*}*/
/*.dropdown-menu::-webkit-scrollbar-thumb {*/
    /*display: none;*/
	/*background:inherit;*/
/*}*/
#wrapper{
	overflow:hidden;
	position:relative;
	height: 100%;
}
.img{
	position:absolute;
	left:0;
	right:0;
	bottom:50px;
	pointer-events:none;
}
.img img{
	width:100%;
	height:auto;
	display:block;
}
.img-block{
	overflow:hidden;
	position:relative;
	text-align:center;
	padding:40px;
}
#header{overflow:hidden;}
.logo{
	width: 150px;
	height: 94px;
	margin:0 auto 60px;
	text-align: center;
}
.logo a{
	display:block;
	height:100%;
}
.logo a img{
	display:block;
	width:auto;
	margin:0 auto;
}
.logo a strong {
  font-size: 33px;
  line-height:36px;
  font-weight: normal;
  color: #fff;
  font-family: 'Lobster';
}




.ajs-dialog{

	font-family: sans-serif;
	color: black;
	font-weight: 700;
	height: 165px;
}

.ajs-modal {

	top: 50% !important;
	margin: -103px 0 0 !important;
}



.ajs-button{

	border: 1px solid red;
}


.ajs-content{

	overflow: hidden !important;
}


.ajs-maximize{

	display: none !important;
}


#nav{
	position:absolute;
	top:40px;
	right:40px;
}
#nav ul{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
	font-size: 16px;
	line-height:19px;
	font-weight: 300;
	text-align:left;
}
#nav ul li{
	display:inline-block;
	vertical-align:middle;
	padding:0 10px 0 0;
}
#nav ul li a{
	display:block;
	color: #fff;
}
#nav ul li a.active{
	padding:5px;
	border-radius:4px;
	border:1px solid #fff;
}
#nav ul li a.active:hover{border-color:#ff7f00;}
#nav ul li a:hover{color:#ff7f00;}
.img-block h1{
	font-size: 75px;
	line-height:83px;
	font-weight: 100;
	font-style: normal;
	color: #fff;
	margin:0 0 40px;
}
.form:after{
	display:block;
	clear:both;
	content:"";
}
.form .dropdown{
	width: 100%;
	height: 70px;
	border-radius: 67px 0 0 67px;
	background-color: #fff;
	border:0;
	margin:0;
	/*-webkit-appearance:none;*/
	/*-moz-appearance: none;*/
	/*-ms-appearance: none;*/
	/*-o-appearance: none;*/
	/*appearance: none;*/
	position:relative;
}
.form .dropdown .caret{
	position:absolute;
	top:50%;
	right:25px;
	margin:-2px 0 0;
	border-top: 12px solid;
	border-right: 10px solid transparent;
	border-left: 12px solid transparent;
}
.scrollable-menu {
    height: auto;
    max-height: 127px;
    overflow-x: visible;
    overflow-y: scroll;
}
.form .dropdown ul{
	padding:11px 25px 4px;
	text-align:left;
	font-size:24px;
	line-height:27px;
}
.form .dropdown ul li{border-bottom:1px solid #ccc;}
.form .dropdown ul li a{padding:10px 0;}
.jumbotron .container{margin-top:-100px;}
.btn-submit {
	font-size: 24px;
	font-weight: normal;
	line-height: 27px;
	color: #fff;
	width: 100%;
	height: 70px;
	border-radius: 0 67px 67px 0;
	background-image: linear-gradient(235deg, #f7a04b, #ff7f00);
	display:inline-block;
	vertical-align:middle;
	letter-spacing:0;
	transition: all 1s;
	outline: none;
}
.btn-submit:hover {background-image: linear-gradient(235deg, #ff7f00, #f7a04b);}
.col-md-8.add,
.col-md-8.col-sm-12.add,
.col-md-6.col-sm-12.add{
	float:none;
	margin:0 auto;
	display:block;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}
.no-gutters.add{letter-spacing:-5px; text-align:center;}
.no-gutters.add .box{
	float:none;
	display:inline-block;
	vertical-align:middle;
	letter-spacing:0;
}
.btn.btn-primary.dropdown-toggle{
	width:100%;
	background:none;
	color: #b4b3b3;
	font-size:24px;
	line-height:27px;
	padding:22px 25px;
	text-align:left;
	border:none;
	outline: none;
}
.dropdown.error{
	border:1px solid #f00;
	border-right:0;
}
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:hover{background:none;}
.fild-title{
	display: block;
	font-size: 20px;
	line-height: 23px;
	padding: 10px 10px 0;
	text-align: left;
}
.dropdown-menu{
	margin:0;
	width:100%;
	top:0;
	border-radius: 34px 0 0 0;
}
.vertical-center {
	height: 100%;
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background-color:inherit;
}
/* start background slider */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {opacity: 1;}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1;}
.carousel-fade .carousel-control {z-index: 2;}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background:url("../images/bg-1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url("../images/bg-2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url("../images/bg-3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(4) {
	background: url("../images/bg-4.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel {z-index: -99;}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
/* end background slider */
@media only screen and (max-width: 767px){
	.fild-title{
		padding: 10px 0 0;
		margin: 50px 0 0;
		text-align: center;
	}
	.img-block{padding:10px 0;}
	.img-block h1{
		font-size:40px;
		line-height:40px;
		margin:0 0 25%;
	}
	.logo{
		width:64pt;
		margin:0 auto 25%;
	}
	.logo a strong{font-size:14.5pt;}
	#nav ul{font-size:12pt;}
	.form .dropdown{
		height:50px;
		border-radius:10px 10px 0 0;
		background:rgba(255,255,255,0.83);
	}
	.btn.btn-primary.dropdown-toggle{
		padding:12px;
		font-size:18px;
		line-height:25px;
		text-align:center;
		color:#000;
	}
	.btn-submit{
		padding:12px;
		height:50px;
		font-size:18px;
		line-height:25px;
		text-align:center;
		border-radius:0 0 10px 10px;
	}
	.dropdown-menu{border-radius:10px 10px 0 0;}
	#nav{
		left:auto;
		right:10px;
		top:10px;
	}
	#nav ul li:first-child{display:none;}
	.form .dropdown .dropdown-menu{
		padding:5px 10px;
		bottom:0;
		top:auto;
		box-shadow:none;
		text-align:center;
		font-size:18px;
		line-height:25px;
	}
	.form .dropdown ul li a{
		color:#000;
		padding:5px 0;
	}
	.form .dropdown .caret{
		position:absolute;
		top:50%;
		right:10px;
		margin:-2px 0 0;
		border-top: 6px solid;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
	}
	.form .dropdown .caret{position:static;}
	.no-gutters{
		margin-left:10%;
		margin-right:10%;
	}
	.img{bottom:100px;}
	.dropdown.error{border:1px solid #f00;}
}
@media only screen
and (max-device-width : 320px)
and (orientation : portrait){
	.jumbotron .container {margin-top: -30px;}
	.logo{margin:0 auto 15%;}
	.logo a img{width:100%;}
	.logo{width:60pt;}
	.logo a strong{font-size:14pt;}
	.img{bottom:50px;}
	.img-block h1{
		font-size:40px;
		line-height:40px;
		margin:0 0 17%;
	}
}
@media screen and ( min-height: 500px ) and (max-height: 750px ){
    .jumbotron .container{margin-top:-50px;}
}
#about {
    
    text-align: center;
	font-family:'Open Sans', sans-serif;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal-dialog{
	background:#fff;
	padding: 20px 40px;
	border-radius:11px;
    box-shadow: 0 0 158px 0 #000000;
}
.modal-content{
	border:none;
	box-shadow:none;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}
#about p {
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	text-align: center;
	color: #797979;
}

#about h3 {
	font-size: 22px;
	line-height: 25px;
	letter-spacing: 0.2px;
	margin:0 0 25px;
	font-weight: 400;
	color: #797979;
}


#about .close {
	position: absolute;
	top: -65px;
	left: -35px;
	padding: 0;
	cursor: pointer;
	font-size:45px;
	line-height:45px;
	color:#fff;
	opacity:1;
	outline: none !important;
	font-weight: 400 !important;
}
#about .close:focus{outline: none !important;}

#about .social-icons {
	overflow:hidden;
}

#about .social-icons ul {
	list-style: none;
	padding: 20px 0 0 0;
	margin: 0;
}

#about .social-icons ul li {
	padding: 5px;
	margin: 0;
	display: inline-block;
}

#about .social-icons ul li img {
	width: 35px;
	transition: ease-in-out all .1s;
}

#about .social-icons ul li img:hover {
	transform: scale(1.1);
}






