@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster/Lobster.woff') format('woff'),
    url('../fonts/lobster/Lobster.ttf') format('truetype');
}
body{
    background: none;
}
.container{
    width: 80vw !important;
    min-width: 1280px !important;
}
#loginForm .col-xs-7.add{
    float: none;
    margin: 0 auto;
}
.img{
    position:absolute;
    left:0;
    right:0;
    bottom:50px;
    pointer-events:none;
}
.img img{
    width:100%;
    height:auto;
    display:block;
}
.img-block{
    overflow:hidden;
    position:relative;
    text-align:center;
    padding:40px;
    height: 100%;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color:inherit;
}

#header{
    overflow:hidden;
    position: inherit;
}
.logo{
    width: 150px;
    height: 94px;
    margin:0 auto 60px;
    text-align: center;
}
.logo a{
    display:block;
    height:100%;
}
.logo a img{
    display:block;
    width:122px;
    height: 81px;
    margin:0 auto;
}
.logo a strong {
    font-size: 33px;
    line-height:36px;
    font-weight: 300;
    color: #fff;
    font-family: 'Lobster';
}
#nav{
    position:absolute !important;
    z-index: 999;
    top:20px;
    right: 20px;
    text-align: right;
}
h1{
    font-size: 65px;
    line-height:79px;
    margin: 0 0 40px;
    letter-spacing: 0.81px;
}
.btn-submit{
    font-weight: 300;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
}
.form-control{
    background-color: #fff !important;
    margin: 0;
    height: 60px;
    border:none;
    border-right: 0;
    font-size: 20px;
    line-height: 35px;
    color: #000 !important;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
}
.add-name{
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
}
.add-name,
.password{background: #fff;}
.password .form-control{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    position: relative;
}
.password:after{
    width: 1px;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 0;
    bottom: 15%;
    content: '';
    display: block;
    clear: both;
    background: #ccc;
}
.error .fa-exclamation-circle,
.error .error-tooltip{display: block;}
.error-tooltip{
    display: none;
    position: absolute;
    top: -50px;
    left: 0;
    padding: 10px;
    background: #fff;
    z-index: 100;
    border: 1px solid #a7a7a7;
    box-shadow: 0px 7px 15px  rgba(0,0,0,0.5);
}
.error-tooltip:after, .error-tooltip:before {
    top: 100%;
    left: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.error-tooltip:after {
    border-color: rgba(243, 243, 243, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.error-tooltip:before {
    border-color: rgba(167, 167, 167, 0);
    border-top-color: #fff;
    border-width: 11px;
    margin-left: -11px;
}
.error-tooltip p{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.error-tooltip .fa-exclamation-circle{
    margin: 0 6px 0 0;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.fa-exclamation-circle{
    color:#ff0000;
    font-size: 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
    vertical-align: middle;
    /*transform: rotate(180deg);*/
}
.col-md-8.add,
.col-md-8.col-sm-12.add,
.col-md-6.col-sm-12.add{
    float:none;
    margin:0 auto;
    display:block;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.no-gutters.add{letter-spacing:-5px; text-align:center;}
.no-gutters.add .box {
    float: none;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
}
.forget-psd {
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    float: left;
    margin: 15px 15px 0;
    outline: none;
    text-decoration: underline;
}
.forget-psd:focus,
.forget-psd:hover{color:#fff;}
.error-txt{
    display: block;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    font-weight: normal;
    text-decoration: underline;
    padding: 5px 15px 10px ;
}
.error .error-txt {
    display: block;
}
#showhide{
    color: #4A90E2;
    display: inline-block;
    vertical-align: middle;
}
.form-control:focus{
    border-color: transparent;
    box-shadow:none !important;
}
.btn-submit:hover{
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
    background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 );
}
/* start background slider */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {opacity: 1;}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1;}
.carousel-fade .carousel-control {z-index: 2;}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background:url("../images/bg-1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url("../images/bg-2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url("../images/bg-3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(4) {
    background: url("../images/bg-4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {z-index: -99;}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
/* end background slider */
.modal{text-align: center;}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}
.modal-dialog {
    display: inline-block;
    vertical-align: middle;
}
.b2b-popup .modal-dialog .modal-content{
    width: 540px;
    padding: 60px 40px;
    margin: 0 auto;
}

.b2b-popup .email-popup{
    padding: 40px;
}
.b2b-popup h2 {
    font-weight: 400;
    margin: 0 0 20px;
}
.b2b-popup .heading{margin: 0;}
.get-link{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-decoration: underline;
    color: #6284EB;
    display: inline-block;
    vertical-align: top;
}
.get-link:focus,
.get-link:hover{
    color: #ff7f00;
    text-decoration: underline;
}
.b2b-popup input[type="email"]{
    width: 100%;
    float: left;
    border:none;
    padding: 15px 26px;
    font-size:24px;
    line-height:40px;
    border-radius: 8px 0 0 8px;
    background-color: #efefef;
    outline: none;
}
.b2b-popup button[type="submit"]{
    width: 100%;
    float: left;
    border:none;
    padding: 15px 26px;
    font-size:24px;
    line-height:40px;
    outline: none;
    border-radius: 0 8px 8px 0;
    background:#FF7F00;
}
.b2b-popup button[type="submit"]:hover{background:#f7a04b;}
.b2b-popup .tas .col-sm-6,
.b2b-popup .tas .col-sm-2{
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.b2b-popup .close{top: -115px;}
#vote-popup .close, .b2b-popup .close {
    position: absolute;
    top: -55px;
    left: 0;
    padding: 0;
    cursor: pointer;
    font-size: 45px;
    line-height: 45px;
    color: #fff;
    opacity: 1;
    font-weight: 400 !important;
    outline: none;
    text-shadow: none;
}
.close span{color: #fff;}
.line{
    display:block;
    color:#000;
    font-size:16px;
    line-height:20px;
    text-transform:uppercase;
    padding:21px 0;
    position:relative;
}
.line:before,
.line:after {
    width:42%;
    height:1px;
    content:"";
    position:absolute;
    top:50%;
    left:0;
    background:#CACACA;
    margin:0;
}
.line:after {
    left:auto;
    right:0;
}
.check-email .btn-submit{
    border-radius: 8px;
}