.block {
    margin: -73px auto 0;
}
.block:after{
    display: block;
    content: '';
    clear: both;
}
.header-box{
    overflow: hidden;
    border-radius: 18px 0 0 0;
    background-color: #ff7f00;
    border: solid 1px rgba(255, 251, 251, 0.04);
    padding: 9px 20px 14px 32px;
    position: relative;
    z-index: 99;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
.header-box p{
    margin: 0;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
}
.alert-img{
    float: right;
    margin: 15px -20px 0 0;
    outline: none;
    position: relative;
    width: 80px;
}
.alert-img img{
    display: block;
    margin: 0 auto;
    width:auto;
}
.alert-img:after{
    position: absolute;
    top: -30px;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 2px;
    height: 80px;
    content: '';
}
.header-box h2{
    /*margin: 0 0 4px;*/
    margin:0;
    text-transform: uppercase;
}
.header-box ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
}
.header-box ul li {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;
}
.header-box ul li .img{
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: top;
}
.header-box ul li .img.add{
    margin:-2px 5px 0 0;
}
.header-box ul li i{margin: 0 5px 0 0;}
.header-box ul li a, .header-box ul li a:active, .header-box ul li a:hover, .header-box ul li a:link {
    color: #fff;
    display: block;
    text-decoration: none;
}

.header-box ul li:first-child {
    border-left: none;
}
#sidebar{
    overflow: hidden;
    min-height: 100vh;
    background:  #fafafa;
    padding: 44px 36px 100px;
}
.add-list{
    overflow: hidden;
    font-size: 16px;
    line-height: 19px;
}
.add-list li{
    display: block;
    float: none;
    margin: 0 0 20px;
}


.add-list li:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ff7f00;
    transition: width .3s;
}

.add-list li:hover::after {
    width: 100%;
    transition: width .3s;
}


.add-list li a{
    display: block;
    color: #797979;
}
#contant{
    overflow: hidden;
    padding: 44px 32px 32px;
    min-height: 100vh;
    background: #f5f5f5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.accordion {
    margin:0;
    list-style:none;
    width: 100%;
    padding: 0 0 100px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
}
.accordion:after{
    content: '';
    display: block;
    clear: both;
}
.accordion li {
    margin: 0 0 40px;
    float: none;
    display: block;
}
.accordion .opener {
    display:block;
    color: #000;
    height:1%;
    text-decoration:none;
    line-height:60px;
    padding:0;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;

}
.accordion li.active .opener:after,
.accordion li.active .opener h2 {
    color: #000;
}
.accordion li .opener:after{
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 28px;
    line-height: 22px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 7;
}
.accordion li.active .opener:after{content: "\f107";}
.accordion h3{
    margin: 0 0 14px;
    text-transform: none;
}
.accordion .slide{
    overflow: visible;
}
.add-row{
    padding: 14px 30px;
    overflow: hidden;
    background: #fff;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.29);
}
.add-row.discount .new-dis{display: block;}
.accordion h4{
    margin: 0 0 1px;
}
.accordion p{
    margin: 0;
    min-width: 276px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.accordion .price{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    margin: 0 0 -3px;
    display: block;
    text-align: center;
}
.accordion .add-row.discount .price{text-decoration: line-through;}
.new-dis{
    min-width: 78px;
    max-width: 94px;
    padding: 1px;
    font-size: 16px;
    line-height: 19px;
    display: none;
    background:#43d200;
    -webkit-border-radius:4pt;
    -moz-border-radius:4pt;
    border-radius:4pt;
    margin: 0 auto 5px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
.fa {
    margin-left: 0;
}
.img-plus,
.price-holder{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.img-plus{
    width: 37px;
    height: 37px;
    margin: 0 -3px 0 20px;
}
.cart-holder{
    overflow: hidden;
    min-height: 90vh;
    font-weight: 300;
    text-align: center;
}
.gray-header{
    overflow: hidden;
    border-radius: 0 18px 0 0;
    background-color: #fafafa;
    border: solid 1px rgba(255, 251, 251, 0.04);
    padding: 25px 34px 18px;
    position: relative;
    z-index: 99;
}
.gray-header h2{
    margin: 0;
    text-align: left;
    text-transform: uppercase;
}
.gray-header h2 .counter{
    width: 27px;
    height: 27px;
    background: #d8d8d8;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    text-align: center;
}
.empty-cart{
    overflow: hidden;
    padding: 70px 38px 20px;
}
.empty-cart img{
    display: block;
    width: inherit;
    margin: 0 auto 25px;
    height: inherit;
}
.cart-holder .wrap{
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
}
.frame{
    padding: 43px 30px 5px;
    overflow: hidden;
}
.minimum-item{
    padding: 8px 0;
    text-align: center;
    border-top: 1px solid #cacaca;
}
.minimum-item:after{
    display: block;
    content: '';
    clear: both;
}
.minimum-item p{margin: 0 0 10px;}
.title{
    text-align: left;
    margin: 0;
}
.minimum-item h3{margin: 0;}
.minimum-item .light{
    margin: 0;
    font-weight:300;
}
.nis{
    text-align: right;
    display: block;
}
.img-frame{
    overflow: hidden;
    padding: 10px 0 5px;
}
.img-frame img{
    display: block;
    width: inherit;
    height: inherit;
    margin: 0 auto;
}
.btn-submit {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to left, #ffaf5f, #ff7f00);
    font-size: 33px;
    line-height: 37px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.btn-submit:hover{background-image: linear-gradient(to left, #ff7f00, #ffaf5f);}
.pull-right{
    text-align: right;
    /*padding-top: 7px;*/
}

/* style for popup verticaly center  */

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* my order popup style */

.my-popup{
    border-radius: 8px;
    padding: 12px;
    width: 900px;
    margin: 0 auto;
}
.modal-header{
    padding: 0;
    margin: 0 0 20px;
    border-bottom: solid 8px #ff7f00;
}
.my-popup .frame{
    padding: 20px 27px 0;
}
.my-popup .close{
    position: absolute;
    top: -52px;
    left: 10px;
    padding: 0;
    cursor: pointer;
    font-size: 45px;
    line-height: 45px;
    opacity: 1;
    outline: none;
    font-weight: 100 !important;
}
.box-frame{
    overflow: hidden;
}
.box-frame .heading-holder{
    background: #fff9f3;
    padding: 3px 8px;
    overflow: hidden;
    border-bottom: solid 1px #ff7f00;

}
.box-frame .heading-holder .error{
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
}
.box-frame h3{
    margin: 0;
    font-weight: 300;
}
.control-group{
    letter-spacing: -5px;
    margin: 20px -10px 0px;
}
.control-group:after{
    display: block;
    content: '';
    clear: both;
}
.control-group li{
    display: inline-block;
    vertical-align: top;
    position: relative;
    letter-spacing: 0;
    width: 20%;
    float: none;
    line-height: inherit;
    padding: 0 10px 24px;
    box-sizing: border-box;
}
.modal-body {
    position: relative;
}
.modal-footer{
    border: none;
    border-radius: 0 0 10px 10px;
    padding: 11px 10px 11px 30px;
    background: #f2f2f2;
}
.btn-cart{
    width: 217px;
    height: 60px;
    padding: 10px;
    border-radius: 8px;
    background-color: #ff7f00;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    outline:none;
    display: inline-block;
    vertical-align: middle;
}
.btn-cart:hover{
    background: #fff;
    color: #ff7f00;
    border:1px solid #ff7f00;
}
.modal-footer h2{
    display: inline-block;
    vertical-align: middle;
    margin: 0 24px 0 0;
    text-transform: uppercase;
}
.link{
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #6284eb;
    float: left;
    margin: 18px 0 0;
    text-decoration: underline;
}
.fa-pencil{
    font-size: 20px;
}
/*.control__indicator {*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*left: 0;*/
    /*height: 20px;*/
    /*width: 20px;*/
    /*background: #e6e6e6;*/
/*}*/
/*.control--radio .control__indicator {*/
    /*border-radius: 50%;*/
/*}*/
/*.control:hover input ~ .control__indicator,*/
/*.control input:focus ~ .control__indicator {*/
    /*background: #ccc;*/
/*}*/
/*.control input:checked ~ .control__indicator {*/
    /*background: #2aa1c0;*/
/*}*/
/*.control:hover input:not([disabled]):checked ~ .control__indicator,*/
/*.control input:checked:focus ~ .control__indicator {*/
    /*background: #0e647d;*/
/*}*/
/*.control input:disabled ~ .control__indicator {*/
    /*background: #e6e6e6;*/
    /*opacity: 0.6;*/
    /*pointer-events: none;*/
/*}*/
/*.control__indicator:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*display: none;*/
/*}*/
/*.control input:checked ~ .control__indicator:after {*/
    /*display: block;*/
/*}*/
/*.control--checkbox .control__indicator:after {*/
    /*left: 8px;*/
    /*top: 4px;*/
    /*width: 3px;*/
    /*height: 8px;*/
    /*border: solid #fff;*/
    /*border-width: 0 2px 2px 0;*/
    /*transform: rotate(45deg);*/
/*}*/
/*.control--checkbox input:disabled ~ .control__indicator:after {*/
    /*border-color: #7b7b7b;*/
/*}*/
/*.control--radio .control__indicator:after {*/
    /*left: 7px;*/
    /*top: 7px;*/
    /*height: 6px;*/
    /*width: 6px;*/
    /*border-radius: 50%;*/
    /*background: #fff;*/
/*}*/
/*.control--radio input:disabled ~ .control__indicator:after {*/
    /*background: #7b7b7b;*/
/*}*/
.input-group{
    position: relative;
    display: none;
}
.input-group .form-control{
    width: 422px;
    height: 47px;
    color: #000;
    margin-top: 5px;
    background-color: #ffffff;
    border: solid 1px #797979;
}
.fa-times{
    position: absolute;
    top:-4px;
    left: -7px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    z-index: 9999;
    color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
}
.order-item{
    overflow: hidden;
    text-align: left;
    font-weight: 400;
    padding: 0 0 5px;
    border-bottom: 1px solid #C9C9C9;
}
.order-item p{margin: 0 0 4px;}
.btn-arrow{
    overflow: hidden;
    text-align: center;
    padding: 0 5px 0 0;
    width: 20px;
    margin: -13px 0 0;
}
.order-item:hover .btn-up i,
.order-item:hover .btn-down i,
.order-item:hover .remove .fa-times,
.order-item:hover .fa-times.closed{
    visibility: visible;
    color: #797979;
}
/*.order-item:hover .fa-times.closed{display: block;}*/
.btn-arrow .btn-up,
.btn-arrow .btn-down{
    color: #797979;
    display: block;
}
.btn-arrow .btn-up i,
.btn-arrow .btn-down i{
    display: block;
    font-size: 20px;
    line-height: 12px;
    visibility: hidden;
    text-align: center;
}
.btn-arrow .count{
    display: block;
    font-size: 16px;
    line-height: 18px;
    color: #000 !important;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 3px 0 0;
}
.order-item .amount {
    float: right;
}
.order-item .remove .fa-times {
    position: static;
    background: none;
    box-shadow: none;
    width: inherit;
    height: inherit;
    color: #ff7f00;
    visibility: hidden;
}
.order-item .remove {
    float: right;
    margin: -1px 0 0 5px;
}

.coupon{
    position: relative;
    width: 100%;
}
.coupon .new-label{
    color: #797979;
    display: block;
    position: relative;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    text-align: left;
}
.coupon .new-label:after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #797979;
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
}
.minimum-item.add.add1{overflow: inherit;}
.coupon-box{
    width: 100%;
    padding: 12px;
    border-radius: 13px;
    background-color: #f3f3f3;
    box-shadow: 3px 2px 4px 0 rgba(0, 0, 0, 0.28);
    border: solid 1px #a7a7a7;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 999;
}
.coupon-box:after, .coupon-box:before {
    bottom: 100%;
    left: 65px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.coupon-box:after {
    border-color: rgba(241, 241, 241, 0);
    border-bottom-color: #f1f1f1;
    border-width: 11px;
    margin-left: -11px;
}
.coupon-box:before {
    border-color: rgba(167, 167, 167, 0);
    border-bottom-color: #a7a7a7;
    border-width: 12px;
    margin-left: -12px;
}
.coupon-box .wrap{
    position: relative;
    overflow: hidden;
}
.coupon-box .wrap .btn-coupon-submit{
    float: right;
    width: 30px;
    height: 35px;
    border-radius: 0 8px 8px 0;
    background-color: #ff7f00;
    position: absolute;
    top: 0;
    right:0;
    border: none;
}
.coupon-box .wrap .btn-coupon-submit img{
    width: 14px;
    margin: 0px 0 0;
}
.coupon-box .wrap input[type="text"]{
    width: 100%;
    height: 35px;
    border: none;
    padding: 3px 40px 3px 10px;
    background: #fff;
    border-radius: 8px 0 0 8px;

}
.coupon-box .wrap input[type="text"]:focus{
    box-shadow: none;
    border: none;
}
.coupon-box .error{
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    color: #e80000;
    margin: 5px 0 0;
}
.info-card .tooltip-popup{
    display: block;
    width: 319px;
    padding: 15px;
    margin: 0 0 0 -160px;
    background: #f5f5f5;
    border: none;
    top:-65px;
    box-shadow: 2px 4px 7px 0 rgba(0, 0, 0, 0.5);
}
.info-card .tooltip-popup:after {
    border-width: 0;
    margin-left: 0;
    -webkit-transform: translateY(-15px) rotate(45deg);
}
.info-card  .tooltip-popup:before {
    border-color: rgba(167, 167, 167, 0);
    border-top-color: inherit;
    border-width: 0;
    margin-left: 0;

    background-color: #f5f5f5;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    width: 25px;
    height: 25px;

    -webkit-transform: translateY(-15px) rotate(45deg);
}
.info-card{
    position: relative;
}


