@font-face {
  font-family: 'SanFranciscoDisplay-Ultralight';
  src: url('SanFranciscoDisplay-Ultralight.woff') format('woff'),
       url('SanFranciscoDisplay-Ultralight.ttf') format('truetype'),
       url('SanFranciscoDisplay-Ultralight.svg#SanFranciscoDisplay-Ultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

